<div class="navbar navbar-expand-sm navbar-light navbar-lgn">

  <div class="nav-item dropdown collapse navbar-collapse">
    <i class="fas fa-bars dropdown" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
      <%= link_to "My GitHub", "https://github.com/vivien-z", class: "dropdown-item", target: "_blank" %>
      <%= link_to "My LinkedIn", "www.linkedin.com/in/yuanyuanzhu/", class: "dropdown-item", target: "_blank" %>
      <%= link_to "My Resume", "#", class: "dropdown-item", target: "_blank" %>
      <div class="dropdown-divider"></div>
      <%= link_to "Email Me", "mailto:yuanyuanzhu000@gmail.com", class: "dropdown-item", target: "_blank" %>
      <div class="dropdown-divider"></div>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "About", "#about", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Projects", "#projects", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Skills", "#skills", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
