<div class="block b-white">

  <div class="container content">
    <h3 class="text-subtitle">PROJECTS</h3>

    <div class="card-project-list d-flex">

      <div class="card-top flex-column">

        <div class="card-pic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "bloom.jpg" %>')">
          <p class="card-title text-bfwp">Bloom</p>
          <%= link_to "http://bloomcommunity.site/", class: "card-icon i-link text-bfwp mr-1" do %>
            <i class="fas fa-link"></i>
          <% end %>
          <%= link_to "https://github.com/Rom1023/bloom", class: "card-icon i-code text-bfwp" do %>
            <i class="fas fa-code"></i>
          <% end %>
        </div>

        <div class="card-desc">
          <p class="text-purple">Rails | Device | Cloudinary | PG search</p>
          <p>A web application on which doctors can post rare patient cases and look for help. Other doctors, from different regions/countries, can communicate and contribute to find the solution together.</p>
        </div>

      </div>

      <div class="card-bottom">

        <div>
          <p class="card-dp text-purple"><strong>Hightlighted Functions</strong></p>
          <ul>
            <li><strong>Intent messaging</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.</li>
            <li><strong>Cloudinary:</strong> user file saving option.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, adipiscing elit.</li>
            <li><strong>PG Search:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.</li>
          </ul>
        </div>

      </div>

    </div>

    <div class="card-project-list d-flex">

      <div class="card-top flex-column">
        <div class="card-pic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "the-p-party.png" %>')">
          <p class="card-title text-bfwp">The P Party</p>
          <%= link_to "https://the-p-party.herokuapp.com/", class: "card-icon i-link text-bfwp mr-1" do %>
            <i class="fas fa-link"></i>
          <% end %>
          <%= link_to "https://github.com/vivien-z/the-p-party", class: "card-icon i-code text-bfwp" do %>
            <i class="fas fa-code"></i>
          <% end %>
        </div>
        <div class="card-desc">
          <p class="text-purple">Rails | Pundit | Cloudinary | Geocoder | PG search</p>
          <p>A clone website of AirBnB. Users can book party themes; as well as, list their own party equipment for rent on the website</p>
        </div>
      </div>

      <div class="card-bottom">
        <div>
          <p class="card-dp text-purple"><strong>Hightlighted Functions</strong></p>
          <ul>
            <li><strong>Pundit:</strong> user security. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.</li>
            <li><strong>Geocoder:</strong> user file saving option.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, adipiscing elit.</li>
            <li><strong>PG Search:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="card-project-list d-flex">

      <div class="card-top flex-column">
        <div class="card-pic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "cocktail-mix.png" %>')">
          <p class="card-title text-bfwp">Cocktail Mix</p>
          <%= link_to "https://cocktail-party-v.herokuapp.com/", class: "card-icon i-link text-bfwp mr-1" do %>
            <i class="fas fa-link"></i>
          <% end %>
          <%= link_to "https://github.com/vivien-z/rails-mister-cocktail", class: "card-icon i-code text-bfwp" do %>
            <i class="fas fa-code"></i>
          <% end %>
        </div>
        <div class="card-desc">
          <p class="text-purple">Rails</p>
          <p>A web application. Users could create their own cocktail mix online.</p>
        </div>
      </div>

      <div class="card-bottom">
        <div>
          <p class="card-dp text-purple"><strong>Hightlighted Functions</strong></p>
          <ul>
            <li><strong>Intent messaging</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.</li>
            <li><strong>Cloudinary:</strong> user file saving option.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, adipiscing elit.</li>
            <li><strong>PG Search:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.</li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</div>
