<div class="block b-white">

  <div id="projects" class="container container-main">
    <div>
      <h3 class="block-title">PROJECTS</h3>
    </div>
    <div class="card-content">
      <%= render 'projects/project_garden_planning' %>
      <%= render 'projects/project_bloom' %>
      <%= render 'projects/project_instant_msg' %>
      <%= render 'projects/project_the_p_party' %>
      <%= render 'projects/project_cocktail_mix' %>
    </div>
  </div>

</div>
